{% extends "base.html" %}
{% block body %}
    {% if divisions %}
        {% for divisionID, data in divisions.items() %}
            <h1>{{ data["name"] }}</h1>
            <div>Best attack: "{{data["attack"][0]}}" with {{data["attack"][1]}} goals</div>
            <div>Best defence: "{{data["defence"][0]}}" with {{data["defence"][1]}} goals scored against them</div>
            {% if data["CleanSheets"] %}
            <div>Team with most clean sheets: "{{data["CleanSheets"][0]}}" who got {{data["CleanSheets"][1]}} clean sheets</div>
            {% else %}
                <div>There were no teams with clean sheets</div>
            {% endif %}
            <br>
        {% endfor %}
    {% else %}
        <div>There are no divisions yet</div>
    {% endif %}
{% endblock %}