{% extends "base.html" %}
{% block body %}
    {% if matches or forms%}
        <div class="mx-auto" style="width: 700px;">
        {% for test,fixture in forms|zip(matches) %}
            <form method="post">
                {{ test.csrf_token }}
                <h1>{{ fixture[-1] }}</h1>
                <div>
                    {% if test.opposingTeamName %}
                        <p>Goals your team:{{ test.homeScore(value=fixture[3]) }} - {{ test.awayScore(value=fixture[4]) }}: Goals {{ test.opposingTeamName.data }}</p>
                    {% else %}
                        <p>Goals your team:{{ test.homeScore(value=fixture[3]) }} - {{ test.awayScore(value=fixture[4]) }}: Goals opposing team</p>
                    {% endif %}
                    <p>{{test.submit()}}</p>
                </div>
                {{ test["matchID"] }}
            </form>
        {% endfor %}
        </div>
    {% else %}
        <div>There are no matches</div>
    {% endif %}
{% endblock %}