{% extends "base.html" %}
{% block body %}
    {% if form %}
        <form method="POST">
            {{ form.csrf_token }}
            <div>Username: {{form.username()}}</div>
            <div>password: {{form.password(type="password")}}</div>
            <div>{{form.submit()}}</div>
        </form>
    {% endif %}


    {% if form.errors %}
        <ul class=errors>
            {% for error in form.errors %}
              <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}