{% extends "base.html" %}
{% block body %}

    <form method="post">
        {{ form.csrf_token }}
        <div>Search for team with ID:</div>
        <div>{{ form.teamID() }}</div>
        <div>{{ form.submit() }}</div>
    </form>
    {% if teams %}
        <ul>
            {% for team in teams %}
                <li>
                    <a href="{{ "./%s" %team["id"] }}">
                        {{ team["name"] }}
                        {% if team["suffix"] %}
                            {{ team["suffix"] }}
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div>There are no teams in the database yet</div>
    {% endif %}


{% endblock %}